notebook==6.5.2
jupyter_highlight_selected_word
jupyter_contrib_nbextensions
virtualenv==20.21.1
ipython==8.18.0
traitlets==5.9.0
jsonschema[format]
sqlalchemy==1.4.46
papermill
Black
NotebookScripter
findspark 
matplotlib==3.5.2
pyhdfs
ipywidgets 
jupyter_nbextensions_configurator 
ipyparallel
jupyter_client===7.4.9
jupyter-events===0.10.0
jupyter_server==2.14.1
jupyter-nbextensions-configurator==0.6.3
googleapis-common-protos>=1.56.4
grpcio-status>=1.48.1
grpcio>=1.48.1
numpy<2,>=1.15
pandas==1.5.3
pandasql==0.7.3
pyarrow>=1.0.0
sqlparse
seaborn==0.13.2
boto3